body{
    background-color:beige;
}

@media screen and (min-width:320) {
    h1{
        background-color: #5ba300;
        color: #cfebb6;
        font-family: 'Verdana';
        font-size: pt25;
        padding: 20px;
        border: solid #cfebb6;
        text-align: center;
    }

    .skip{
        position: absolute;
        margin-top: -40px;
    }
    
    .skip:focus{
        margin-top: 15px;
        margin-left: 10px;
        padding: 10px;
    }
    
    .skip:hover{
        color: black;
    }
}
/* h1{
    background-color: #5ba300;
    color: #cfebb6;
    font-family: 'Verdana';
    font-size: pt25;
    padding: 20px;
    border: solid #cfebb6;
    text-align: center;
}

.skip{
    position: absolute;
    margin-top: -40px;
}

.skip:focus{
    margin-top: 15px;
    margin-left: 10px;
    padding: 10px;
}

.skip:hover{
    color: black;
}

h2{
    color: #029356;
    font-family: 'Verdana';
    font-size: pt15;
    font-style: oblique;
    text-align: center;
}
h3{
    font-family: 'Verdana';
    font-size: pt15;
    font-style: oblique;
    text-align: center;
    border: solid black 2px;
}
p{
    font-family: 'Verdana';
    font-size: pt15;
    font-style: oblique;
    text-align: center;

}
ul{
    color: #cfebb6;
    font-family: Verdana;
    text-align: center;
    padding: 20px;
    border: solid burlywood;
    background: moccasin;
}

ul a{
    color: #029356;
    font-family: Verdana;
}

ul a:hover{
    color: black;
}

ul li{
    display: inline-block;
    margin-inline: 20px;
    padding-left: 20px;
    padding-right: 20px;
    color: #029356;
}

.column{
    display: block;
    float: left;
    width: 20%;
    padding: 5px;
}


.first{
    display:block;
    align-items: center;
}





/* .first{
    float:left;
    width: 50%;
    padding: 10px;
} */ */